{{#> main}}

    <div class="flex flex-col items-start justify-center">
        <h1 class="text-[3rem] md:text-[4rem] text-black font-extrabold tracking-[-0.08em] leading-[0.9]">Tired of great jobs slipping through your fingers?</h1>
        <p class="mt-8 text-gray-900">Align your resume and cover letter with your target job description. Give your résumé a fighting chance by aligning your story to the job.</p>
        <h2 class="font-bold mt-8 text-gray-800">Get noticed, get hired.</h2>
        <a href="/resumes/dashboard" class="button primary-button w-full md:w-fit mt-8 px-8 py-4 capitalize text-xl flex gap-2 justify-center items-center">
            <span class="material-symbols-outlined">
                handyman
            </span>
            <span>
                Align your resume Now
            </span>
        </a>
    </div>

    <div class="w-full flex justify-center items-center mt-36 md:mt-48">
        <div class="max-w-screen-lg flex flex-col mx-auto gap-8">
            <h2 class="text-[3rem] md:text-[4rem] text-black font-extrabold tracking-[-0.08em] leading-[0.9]">🔥 Crush Interviews at Top Tech Companies Like Amazon, Meta, and Google! 🚀</h2>
            <figure class="object-cover w-full mt-24">
                <img src="/assets/images/company-logos.png" />
            </figure>
        </div>
    </div>

    <div class="flex flex-col justify-center items-center  mt-36 md:mt-48">
        <h2 class="text-[3rem] md:text-[4rem] text-black font-extrabold tracking-[-0.08em] leading-[0.9]">Sick of soul-sucking ATS filters tossing your resume into the void? </h2>
        <div class="flex gap-16 mt-24 flex-col md:flex-row">
            <div class="flex flex-col justify-center items-start gap-8 w-full">
                <p class="text-black text-[24px] font-semibold tracking-[-0.03em] leading-[1.1]">
                    We’ve got you covered.
                </p>
                <p class="text-gray-800 text-[16px]">
                    Find top tech gigs and whip up unstoppable resumes in one click. So you can focus on actually landing the interview—not getting ghosted by a robot
                </p>
                <a href="/resumes/dashboard" class="w-full md:w-fit capitalize px-12 py-4 button secondary-button flex justify-center items-center gap-2">
                    <span class="material-symbols-outlined">
                        contract_edit
                    </span>
                    <span>Rewrite your Resume</span>
                </a>
            </div>
        </div>
    </div>

    <div class="flex flex-col items-start justify-center mt-36 md:mt-48">
        <div class="flex flex-col gap-8">
            <h2 class="text-[3rem] md:text-[4rem] text-black font-extrabold tracking-[-0.08em] leading-[0.9]">DIY. LFG!</h2>
            <p class="text-[1rem] md:text-[2rem] text-gray-800 py-2">Here’s the brutal truth: About 75% of resumes get trashed before a human even sees them.</p>
        </div>
        <div class="flex gap-4 mt-24 flex-col md:flex-row">
            <div class="border-2 border-black p-8 w-full flex flex-col gap-4 justify-between">
                <div>
                    <h3 class="flex flex-col justify-start items-start gap-2 font-bold text-2xl text-black">
                        <span class="material-symbols-outlined">
                            handyman
                        </span>
                        <span>Aligned to the Job Description</span>
                    </h3>
                    <p class="text-black text-[16px] border-t-2 border-black pt-4">
                        Tailored isn’t just a buzzword. Rework your resume to match the role’s requirements, ensuring you check every box (and then some).
                    </p>
                </div>
                <div>
                    <a href="/resumes/dashboard" class="w-full mt-8 px-4 py-4 button primary-button text-base flex gap-2 justify-center items-center">
                        <span class="material-symbols-outlined">
                            handyman
                        </span>
                        <span>
                            Align your Resume
                        </span>
                    </a>
                </div>
            </div>
            <div class="border-2 border-black p-8 w-full flex flex-col gap-4 justify-between">
                <div>
                    <h3 class="flex flex-col justify-start items-start gap-2 font-bold text-2xl text-black">
                        <span class="material-symbols-outlined">
                            contract_edit
                        </span>
                        <span>Rewrite Work Experience & Skills</span>
                    </h3>
                    <p class="text-black text-[16px] border-t-2 border-black pt-4">
                        No more bland bullet points. Résumés.im pinpoints your strongest achievements and highlight them front and center—so recruiters actually pay attention.
                    </p>
                </div>
                <div>
                    <a href="/resumes/dashboard" class="w-full mt-8 px-4 py-4 button primary-button text-base flex gap-2 justify-center items-center">
                        <span class="material-symbols-outlined">
                            contract_edit
                        </span>
                        <span>
                            Rewrite your Resume
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="flex gap-4 mt-4 flex-col md:flex-row">
            <div class="border-2 border-black p-8 w-full flex flex-col gap-4 justify-between">
                <div>
                    <h3 class="flex flex-col justify-start items-start gap-2 font-bold text-2xl text-black">
                        <span class="material-symbols-outlined">
                            mark_email_read
                        </span>
                        <span>Cover Letters, Minus the Crap</span>
                    </h3>
                    <p class="text-black text-[16px] border-t-2 border-black pt-4">
                        Flip the script by turning your actual strengths into a quick, concise letter that won’t make recruiters’ eyes glaze over. No fluff, no BS—just the stuff they need to see why you belong on their team.
                    </p>
                </div>
                <div>
                    <a href="/resumes/dashboard" class="w-full mt-8 px-4 py-4 button primary-button text-base flex gap-2 justify-center items-center">
                        <span class="material-symbols-outlined">
                            mark_email_read
                        </span>
                        <span>
                            Write your Cover Letter
                        </span>
                    </a>
                </div>
            </div>
            <div class="border-2 border-black p-8 w-full flex flex-col gap-4 justify-between">
                <div>
                    <h3 class="flex flex-col justify-start items-start gap-2 font-bold text-2xl text-black">
                        <span class="material-symbols-outlined">
                            brand_awareness
                        </span>
                        <span>Unf*ck your brand</span>
                    </h3>
                    <p class="text-black text-[16px] border-t-2 border-black pt-4">
                        Stop burying your greatness. Let our copy-paste content supercharge your LinkedIn and get you noticed. Time to stand out, big-time.
                    </p>
                </div>
                <div>
                    <a href="/branding" class="w-full mt-8 px-4 py-4 button primary-button text-base flex gap-2 justify-center items-center">
                        <span class="material-symbols-outlined">
                            brand_awareness
                        </span>
                        <span>
                            Build your brand
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
{{/main}}