<footer class="mt-36 flex flex-col items-center justify-center gap-8 p-2">
    <div class="sharethis-inline-share-buttons"></div>
    <div class="flex flex-col items-center justify-center text-center gap-4">
        <p class="text-black font-bold">Follow Sanjeet for all relevant updates</p>
        <div class="sharethis-inline-follow-buttons"></div>
    </div>
    <div class="mb-16">
        <!-- <iframe src="https://leaderhubio.substack.com/embed" class="w-full md:w-[760px] mx-auto h-96 p-8 rounded shadow bg-[#313D41]" frameborder="0" scrolling="no"></iframe> -->
    </div>
    <div class="flex items-center justify-center gap-4 mb-16">
        <a class="font-bold border-b-2 border-black hover:text-blue-600 hover:border-blue-600" href="/privacy">Privacy Policy</a> &middot; <a class="font-bold border-b-2 border-black hover:text-blue-600 hover:border-blue-600" href="/tos">Terms of Service</a>
    </div>
</footer>