{{#> main}}

    <div class="flex flex-col items-start justify-center mt-12 md:mt-24">
        <div class="flex gap-4 mt-24 flex-col md:flex-row">
            <div class="border-2 border-black p-8 w-full flex flex-col gap-4 justify-between">
                <div>
                    <h3 class="flex flex-col justify-start items-start gap-2 font-bold text-2xl text-black">
                        <span class="material-symbols-outlined">
                            handyman
                        </span>
                        <span>Résumés</span>
                    </h3>
                    <p class="text-black text-[16px] border-t-2 border-black pt-4">
                        Résumés that don’t suck: let us optimize your experience, align you with the job, rewrite your brand, and craft a killer cover letter. Boom 💥
                    </p>
                </div>
                <div>
                    <a href="/resumes" class="w-full mt-8 px-4 py-4 bg-gray-900 capitalize text-white text-base flex gap-2 justify-center items-center hover:bg-[#d04c00]">
                        <span class="material-symbols-outlined">
                            handyman
                        </span>
                        <span>
                            Optimize your Résumé
                        </span>
                    </a>
                </div>
            </div>
            <div class="border-2 border-black p-8 w-full flex flex-col gap-4 justify-between">
                <div>
                    <h3 class="flex flex-col justify-start items-start gap-2 font-bold text-2xl text-black">
                        <span class="material-symbols-outlined">
                            contract_edit
                        </span>
                        <span>Stories</span>
                    </h3>
                    <p class="text-black text-[16px] border-t-2 border-black pt-4">
                        Stop fumbling your story. We craft riveting STAR answers, so you actually shine in interviews. Because your story matters, period.
                    </p>
                </div>
                <div>
                    <a href="/stories/" class="w-full mt-8 px-4 py-4 bg-gray-900 capitalize text-white text-base flex gap-2 justify-center items-center hover:bg-[#d04c00]">
                        <span class="material-symbols-outlined">
                            contract_edit
                        </span>
                        <span>
                            Craft Compelling Stories
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="flex gap-4 mt-4 flex-col md:flex-row">
            <div class="border-2 border-black p-8 w-full flex flex-col gap-4 justify-between">
                <div>
                    <h3 class="flex flex-col justify-start items-start gap-2 font-bold text-2xl text-black">
                        <span class="material-symbols-outlined">
                            emoji_objects
                        </span>
                        <span>Problems</span>
                    </h3>
                    <p class="text-black text-[16px] border-t-2 border-black pt-4">
                        Stop panicking over coding, system design, writing maintainable code interviews. We’ll walk you from brute force to optimized—so you crush interviews with clarity. Enough said.
                    </p>
                </div>
                <div>
                    <a href="/problems/" class="w-full mt-8 px-4 py-4 bg-gray-900 capitalize text-white text-base flex gap-2 justify-center items-center hover:bg-[#d04c00]">
                        <span class="material-symbols-outlined">
                            emoji_objects
                        </span>
                        <span>
                            Master DSA, System Design, and Coding
                        </span>
                    </a>
                </div>
            </div>
            <div class="border-2 border-black p-8 w-full flex flex-col gap-4 justify-between">
                <div>
                    <h3 class="flex flex-col justify-start items-start gap-2 font-bold text-2xl text-black">
                        <span class="material-symbols-outlined">
                            badge
                        </span>
                        <span>Branding</span>
                    </h3>
                    <p class="text-black text-[16px] border-t-2 border-black pt-4">
                        Stop burying your greatness. Let our copy-paste content supercharge your LinkedIn and get you noticed. Time to stand out, big-time.
                    </p>
                </div>
                <div>
                    <a href="/branding/" class="w-full mt-8 px-4 py-4 bg-gray-900 capitalize text-white text-base flex gap-2 justify-center items-center hover:bg-[#d04c00]">
                        <span class="material-symbols-outlined">
                            badge
                        </span>
                        <span>
                            Fix LinkedIn like a Pro
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
{{/main}}