{{#>main}}
    <div class="container mx-auto">
        <div class="bg-gray-50 shadow-md rounded-lg p-6 dark:bg-gray-700 dark:text-gray-100">
            <h1 class="text-3xl font-bold mb-4 text-center">Privacy Policy</h1>
            <p class="text-sm  mb-8 text-center text-gray-400">Last Updated: December 23, 2024</p>

            <section class="mb-8">
                <h2 class="text-2xl font-semibold mb-2">1. Introduction</h2>
                <p>Definite.im (we, us, our) offers resume optimization and cover letter creation service to all professionals. We ask you for your resume and your target job description in text format. We use generative AI to generate your optimized resume and cover letter. We are owned and governed by Aarya AI, LLC.</p>
            </section>

            <section class="mb-8">
                <h2 class="text-2xl font-semibold mb-2">2. Information We Collect</h2>
                <p>We collect several types of information to provide and improve our Services to you:</p>

                <div class="ml-6 mt-4">
                    <h3 class="text-xl font-semibold mb-1">a. Personal Information</h3>
                    <ul class="list-disc list-inside mb-4">
                        <li><strong>Authentication Data:</strong> When you sign up or log in using Google OAuth, we
                            collect
                            your:
                            <ul class="list-disc list-inside">
                                <li class="ml-8"><strong>Name</strong></li>
                                <li class="ml-8"><strong>Email Address</strong></li>
                                <li class="ml-8"><strong>Profile Photo</strong></li>
                                <li class="ml-8"><strong>Your resume text</strong></li>
                            </ul>
                        </li>
                    </ul>

                    <h3 class="text-xl font-semibold mb-1">b. Payment Information</h3>
                    <ul class="list-disc list-inside mb-4">
                        <li><strong>Payment Processing:</strong> We have partnered with Stripe and use Stripe-hosted
                            checkout flow. Your payment details do not land on our servers.Stripe’s Privacy Policy can
                            be found <a href="https://stripe.com/privacy" class="text-blue-500 underline" target="_blank">here</a>.
                        </li>
                    </ul>

                    <h3 class="text-xl font-semibold mb-1">c. Usage Data</h3>
                    <ul class="list-disc list-inside mb-4">
                        <li><strong>Technical Data:</strong>We may recieve but we do not store information about your
                            device, browser type, operating
                            system,
                            IP
                            address, and usage patterns when interacting with our Services.</li>
                    </ul>

                    <h3 class="text-xl font-semibold mb-1">d. Cookies and Tracking Technologies</h3>
                    <ul class="list-disc list-inside mb-4">
                        <li>We use cookies and similar tracking technologies to track activity on our Services and hold
                            certain
                            information. You can manage your cookie preferences through your browser settings.</li>
                    </ul>
                </div>
            </section>

            <section class="mb-8">
                <h2 class="text-2xl font-semibold mb-2">3. How We Use Your Information</h2>
                <ul class="list-disc list-inside ml-6">
                    <li><strong>Provide and Maintain Services:</strong> To deliver our educational content and tools
                        effectively.</li>
                    <li><strong>Authentication:</strong> To manage your account access via Google OAuth.</li>
                    <li><strong>Payment Processing:</strong> To handle subscriptions and purchases securely through
                        Stripe.
                    </li>
                    <li><strong>Improve Our Services:</strong> To understand how users interact with our Services and
                        enhance
                        user experience.</li>
                    <li><strong>Communication:</strong> To send updates, newsletters, and promotional materials (you can
                        opt
                        out
                        at any time).</li>
                    <li><strong>Security:</strong> To protect against unauthorized access and ensure the integrity of
                        our
                        Services.</li>
                </ul>
            </section>

            <section class="mb-8">
                <h2 class="text-2xl font-semibold mb-2">4. How We Share Your Information</h2>
                <p>We value your privacy and do not share your personal information with third parties except in the
                    following
                    circumstances:</p>
                <div class="ml-6 mt-4">
                    <h3 class="text-xl font-semibold mb-1">Service Providers:</h3>
                    <ul class="list-disc list-inside mb-4">
                        <li><strong>Google:</strong> For authentication purposes, limited to the information obtained
                            via
                            OAuth
                            (name, email, profile photo).</li>
                        <li><strong>Stripe:</strong> For payment processing, limited to information necessary to
                            complete
                            transactions.</li>
                    </ul>

                    <h3 class="text-xl font-semibold mb-1">Legal Requirements:</h3>
                    <ul class="list-disc list-inside mb-4">
                        <li>If required by law, regulation, or legal process, we may disclose your information to comply
                            with
                            legal obligations.</li>
                    </ul>

                    <h3 class="text-xl font-semibold mb-1">Business Transfers:</h3>
                    <ul class="list-disc list-inside mb-4">
                        <li>In the event of a merger, acquisition, or sale of all or a portion of our assets, your
                            information
                            may be transferred as part of that transaction.</li>
                    </ul>
                </div>
                <p><strong>Note:</strong> We do not sell, trade, or otherwise transfer your personal information to
                    outside
                    parties for their marketing purposes.</p>
            </section>

            <section class="mb-8">
                <h2 class="text-2xl font-semibold mb-2">5. Data Security</h2>
                <p>We implement a variety of security measures to maintain the safety of your personal information:</p>
                <ul class="list-disc list-inside ml-6 mt-4">
                    <li><strong>Encryption:</strong> Sensitive information is encrypted during transmission and storage.
                    </li>
                    <li><strong>Access Controls:</strong> Only authorized personnel have access to personal data.</li>
                    <li><strong>Regular Audits:</strong> We conduct regular security assessments to identify and
                        mitigate
                        potential vulnerabilities.</li>
                </ul>
            </section>

            <section class="mb-8">
                <h2 class="text-2xl font-semibold mb-2">6. User Rights</h2>
                <p>Depending on your location, you may have the following rights regarding your personal data:</p>
                <ul class="list-disc list-inside ml-6 mt-4">
                    <li><strong>Access:</strong> Request access to your personal information.</li>
                    <li><strong>Correction:</strong> Request correction of inaccurate or incomplete data.</li>
                    <li><strong>Deletion:</strong> Request deletion of your personal data.</li>
                    <li><strong>Restriction:</strong> Request restriction of processing your data.</li>
                    <li><strong>Portability:</strong> Request transfer of your data to another service.</li>
                    <li><strong>Objection:</strong> Object to certain types of data processing.</li>
                </ul>
                <p class="mt-4">To exercise these rights, please contact us using the information provided in the
                    <strong>Contact Us</strong> section.
                </p>
            </section>

            <section class="mb-8">
                <h2 class="text-2xl font-semibold mb-2">7. Children’s Privacy</h2>
                <p>Our Services are intended for users who are at least 13 years old. We do not knowingly collect
                    personal
                    information from children under 13. If we become aware that a child under 13 has provided us with
                    personal
                    information, we will take steps to delete such information promptly.</p>
            </section>

            <section class="mb-8">
                <h2 class="text-2xl font-semibold mb-2">8. International Users</h2>
                <p>Aarya AI is available globally, excluding users in Europe. While European users can browse our
                    website,
                    they
                    are prohibited from making purchases or interacting with our AI tools. We do not process or store
                    personal
                    data of users residing in the European Economic Area (EEA). If you are located in the EEA and
                    attempt to
                    make a purchase or interact with our Services, we cannot restrict you at the point, but be aware that we do not support it.</p>
            </section>

            <section class="mb-8">
                <h2 class="text-2xl font-semibold mb-2">9. Third-Party Services</h2>
                <ul class="list-disc list-inside ml-6">
                    <li><strong>Google OAuth:</strong> Used for user authentication. Please review <a href="https://policies.google.com/privacy" class="text-blue-500 underline" target="_blank">Google's
                            Privacy Policy</a> for more information.</li>
                    <li><strong>Stripe:</strong> Used for payment processing. Please review <a href="https://stripe.com/privacy" class="text-blue-500 underline" target="_blank">Stripe's
                            Privacy Policy</a> for more information.
                    </li>
                </ul>
            </section>

            <section class="mb-8">
                <h2 class="text-2xl font-semibold mb-2">10. Changes to This Privacy Policy</h2>
                <p>We may update our Privacy Policy from time to time. Any changes will be posted on this page with an
                    updated
                    “Last Updated” date. We encourage you to review this Privacy Policy periodically to stay informed
                    about
                    how
                    we are protecting your information.</p>
            </section>

            <section class="mb-8">
                <h2 class="text-2xl font-semibold mb-2">11. Your Consent</h2>
                <p>By using our Services, you consent to our Privacy Policy.</p>
            </section>

            <section class="mb-8">
                <h2 class="text-2xl font-semibold mb-2">12. Contact Us</h2>
                <p>If you have any questions or concerns about this Privacy Policy or our data practices, please contact
                    us:
                </p>
                <ul class="list-disc list-inside ml-6 mt-4">
                    <li><strong>Email:</strong> <a href="mailto:sanjeet@aarya.ai" class="text-blue-500 underline">sanjeet@aarya.ai</a></li>
                    <li><strong>Address:</strong>15082 Bear Creek Parkway, Redmond, WA - 98012</li>
                </ul>
            </section>
        </div>
    </div>
{{/main}}