{{#> main}}

    <div class="flex flex-col justify-center items-center gap-4 h-[40em]">

        <figure>
            <img src="/assets/images/under-construction.png" alt="Under Construction" class="w-full h-auto">
        </figure>

        <h1 class="text-[1rem] md:text-[4rem] text-black font-extrabold tracking-[-0.08em] leading-[0.9]">Can't wait? Us too!</h1>
        <p>Login below and we will notify you.</p>

        <a href="/auth/google" class="flex gap-2 items-center mt-16 bg-gray-900 text-white font-semibold py-2 px-8 rounded hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 w-fit" hx-on:click="this.style.display='none'">
            <span class="material-symbols-outlined">
                android
            </span>
            <span>Login with Google</span>
        </a>
    </div>

{{/main}}