<div class="flex flex-col justify-center items-center gap-4">
    <p class="text-base uppercase">{{message}}</p>
    <div class="flex gap-4">
        <a class="flex gap-2 text-sm items-center bg-gray-900 text-white font-semibold py-2 px-8 rounded hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 w-fit" href="{{navigate_url}}">
            <span class="material-symbols-outlined">
                credit_score
            </span>
            <span>{{navigate_text}}</span>
        </a>
    </div>
</div>